* {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0 0;
}
html {
    scroll-behavior: smooth;
}

nav {
    background: black;
}
#logo {
    font-size: 1.5em;
    padding-left: 5rem;
    color: white;
}
#navbarNav {
    padding-right: 5rem;
    justify-content: right;
}
.navbar-nav .nav-link:hover {
    color: white; 
  }
.nav-item a{
    color: white;
    margin: 0 1.5rem;
}
.container-fluid {
    background-color: rgb(0, 0, 0);
}
#firstsection .row {
    width: 100%; 
    height: 87vh; 
}
@media(max-width: 650px) {
    #firstsection #img-div {
        padding-left: 45px;
        padding-right: 0;
    }
}
.custom-margin-top {
 margin-top: 60px;
}
 #fstext {
    font-size: 2.5rem;
    color: rgb(145, 145, 145);
 } 
 .purple {
    color: rgb(255, 255, 255);
 }
 #element {
    color: white;
 }
 @media(max-width: 1000px) {
    #fstext {
        font-size: 2rem;
        padding-left: 30px;
        padding-right: 0;
    }
}
#secondsection {
    background-color: rgb(0, 0, 0);
}
#secondsection .row {
    width: 100%; 
    height: 100vh; 
}
.hr {
    background-color: black;   
}
@media(max-width: 600px) {
    #secondsection h4 {
        margin-left: 10px;
    }
}
#thirdsection .row {
    width: 100%; 
    height: 90vh; 
}
.text-justify {
    text-align: justify;
}

#thirdsection li {
    font-size: 1.5rem;
    margin-bottom: 55px;
    list-style: none;
}
#fourthsection .row {
    width: 100%; 
    height: 100vh; 
}
@media(max-width: 600px) {
    #thirdsection .row {
        height: 130vh;
    }
    .skills_column {
        display: flex;
        justify-content: center;
    }
    #second_skills {
        padding-left: 50px;
    }
}
#fourthsection li {
    margin-bottom: 60px;
}
#fourthsection a {
    font-size: large;
    color: white;
    text-decoration: none;
}
#fifthsection .row {
    width: 100%; 
    height: 100vh; 
}
#fifthsection li {
    margin-bottom: 60px;
}
#fifthsection a {
    font-size: large;
    color: white;
    text-decoration: none;
}
#footer .row {
    width: 100%;
    height: 30vh;
}
#footer li {
    list-style: none;
    margin-bottom: 20px;
}
#footer a {
    color: white;
    text-decoration: none;
}
@media(max-width: 600px) {
    #footer #sm1{
        margin-top: 10px;
        justify-content: center;
    }
    #footer #sm2{
        justify-content: center;
    }
}